@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --sage: #9dab97;
    --beige-light: #ede5db;
    --beige: #c4ae91;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-white text-gray-900;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
